.xmd-hero-phone-preview {
  .xmd-hero-phone.xmd-phone {
    margin: 0 auto;
  }

  .xmd-phone-screen {
    background: #ffffff;
  }

  @media (max-width: 767px) {
    .xmd-hero-phone.xmd-phone {
      max-width: 100%;
    }
  }
}
